<div class="header-container" [ngClass]="{'hide-aside': !hamburger, 'show-aside': hamburger}">
  <div class="btn-hamburger" [ngClass]="{'active': hamburger}" (click)="toggleMenu()">
    <span></span>                
  </div>
    <div class="header-left">
      <div class="logo">        
        <img class="logo-svg" src="../assets/img/bakery.svg" alt="">
        <span class="label">Bread Fast</span>
      </div>
      <ol class="menu">
        <li>Home</li>
        <li>Sobre a empresa</li>
        <li>Nossos Produtos</li>
        <li>Contato</li>
      </ol>
    </div>
  </div>