
.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 130px;
    font-family: 'Jost';
    z-index: 1;

    .btn-hamburger {
        display: none;
    }

    .header-left {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        height: 130px;
        font-family: 'Jost';
        font-size: 24px;
        font-weight: 100;

        .logo {
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 25px;
            font-family: 'Petit Formal Script';

            .logo-svg {
                width: 130px;
                mix-blend-mode: luminosity;
                margin-top: -10px;
                -webkit-filter: hue-rotate(90deg) brightness(100%) grayscale(500%);
                filter: hue-rotate(90deg) brightness(500%) grayscale(100);
                margin-right: -30px;
                margin-top: 5px;
            }
        }

        ol.menu {
            counter-reset:li;     
            margin-left:0;     
            padding-left:0; 
            display: flex;

            li {      
                position:relative;   
                margin:0 0 6px 2em;     
                padding:4px 8px;     
                list-style:none;   
                font-family: "Jost*", sans-serif;

                &:hover {
                    cursor: pointer;
                }
            }   
        }
    }
}


@media (max-width: 1055px) {
    .header-container {
        height: 50px;

        &.hide-aside {
            height: 50px;
            width: 50px;
            border: none;
    
            .header-left {
                animation-duration: 3s;
                animation-name: slideout;
            }
        }

        &.show-aside {
            .header-left {
                display: flex;
                animation-duration: 3s;
                animation-name: slidein;
            }
        }

        .btn-hamburger {
            height: 32px;
            width: 40px;
            cursor: pointer;
            display: block;
            z-index: 1000;
            margin-top: 24px;
        }

        .btn-hamburger {
            height: 32px;
            width: 40px;
            cursor: pointer;
            margin-right: 12px;

            span,
            span::before,
            span::after {
                background: #795548;
                content: '';
                position: absolute;
                width: 40px;
                height: 3px;         
                margin-top: 13px; 

                -webkit-transition: .3s ease-in-out .3s;
                -moz-transition: .3s ease-in-out .3s;
                -o-transition: .3s ease-in-out .3s;
                transition: .3s ease-in-out .3s;
            }

            span::before {
                margin-top:-12px;
                
                -webkit-transition: .3s ease-in-out;
                -moz-transition: .3s ease-in-out;
                -o-transition: .3s ease-in-out;
                transition: .3s ease-in-out;
            }

            span::after {
                margin-top:12px;
                
                -webkit-transition: .3s ease-in-out;
                -moz-transition: .3s ease-in-out;
                -o-transition: .3s ease-in-out;
                transition: .3s ease-in-out;
            }

            &.active span {
                background: transparent;
                
                -webkit-transition: .5s ease-in-out;
                -moz-transition: .5s ease-in-out;
                -o-transition: .5s ease-in-out;
                transition: .5s ease-in-out;

                -webkit-transform:rotate(-90deg);
                -moz-transform:rotate(-90deg);
                -o-transform:rotate(-90deg);
                transform:rotate(-90deg);
            }

            &.active span::before {
                margin-top:0;
                
                -webkit-transform: rotate(-45deg);
                -moz-transform: rotate(-45deg);
                -o-transform: rotate(-45deg);
                transform: rotate(-45deg);

                -webkit-transition-delay: .5s;
                -moz-transition-delay: .5s;
                -o-transition-delay: .5s;
                transition-delay: .5s;
            }

            &.active span::after {
                margin-top:0;

                -webkit-transform: rotate(45deg);
                -moz-transform: rotate(45deg);
                -o-transform: rotate(45deg);
                transform: rotate(45deg);

                -webkit-transition-delay: .6s;
                -moz-transition-delay: .6s;
                -o-transition-delay: .6s;
                transition-delay: .5s;
            }
        }

        .header-left {
            height: 100vh;
            width: 250px;
            max-width: 80vw;
            z-index:999;
            position: absolute;
            top: 0;
            left: 0;
            display: none;
            flex-direction: column;
            flex-wrap: nowrap;
            background-color: #000000;
            border-right: 0.5px solid #ffd70033;
            

            .logo {
                display: flex;
                flex-direction: row;
                flex-wrap: nowrap;
                justify-content: flex-start;
                align-items: center;
                width: calc(100% - 50px);
                margin: 25px;
                margin-left: 25px;

                .logo-svg {
                    display: none;
                }

                .label {
                    width: 148px;
                    font-size: 24px;
                    margin-left: 50px;
                }

                .menu {
                    width: 50px;
                    cursor: pointer;
                    border-radius: 100%;
                    display: block;

                    &:hover {
                        background-color: gold;
                        border-radius: 100%;
                        width: 50px;
                        height: 50px;
                    }
                }
            }

            ol {
                width: 100%;
                flex-direction: column;

                li {
                    margin: 0px !important;
                    padding-left: 25px !important;

                    &:hover {
                        background-color: rgba(255, 215, 0, 0.6);
                        color: black;
                        font-weight: 500;
                    }
                }
            }
        }
    }
}

@keyframes slidein {
    from {
        transition-delay: 3000ms;
        margin-left: -100%;
        display: none;
    }
  
    to {
        margin-left: 0%;
        display: block;
    }
}

@keyframes slideout {
    from {
        margin-left: 0%;
        display: block;
    }
  
    to {
        transition-delay: 3000ms;
        margin-left: -100%;
        display: none;
    }
}