@import url('https://fonts.cdnfonts.com/css/jost');
@import url('https://fonts.cdnfonts.com/css/petit-formal-script');

.main-container {
    width: calc(100vw - 40px);
    height: 100vh;
    background-color: #040404;
    color: #ffffff;
    padding-left: 20px;
    padding-right: 20px;

    .header-container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 130px;
        font-family: 'Jost';

        .header-left {
            display: flex;
            justify-content: flex-start;
            align-items: center;
            height: 130px;
            font-family: 'Jost';

            .logo {
                img {
                    width: 130px;
                    mix-blend-mode: luminosity;
                    margin-top: -10px;
                    -webkit-filter: hue-rotate(90deg) brightness(100%) grayscale(500%);
                    filter: hue-rotate(90deg) brightness(500%) grayscale(100);
                }
            }
    
            ol.menu {
                counter-reset:li;     
                margin-left:0;     
                padding-left:0; 
                display: flex;
    
                li {      
                    position:relative;   
                    margin:0 0 6px 2em;     
                    padding:4px 8px;     
                    list-style:none;   
                    font-family: "Jost*", sans-serif;
    
                    &:hover {
                        cursor: pointer;
                    }
                }   
            }
        }

        .header-right {
            display: flex;
            justify-content: center;
            align-items: center;    
            font-family: "Jost*", sans-serif;

            .order {
                display: flex;
                justify-content: center;
                align-items: center;

                img {
                    height: 25px;
                    margin-right: 7px;
                    border-radius: 3px;
                    cursor: pointer;
                }

                .btn-order {
                    background-color: #4a6347;
                    border-radius: 3px;
                    font-size: 12px;
                    height: 25px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    padding-left: 12px;
                    padding-right: 12px;
                    cursor: pointer;
                }
            }
        }
    }

    .content-container {
        display: flex;
        justify-content: flex-start;
        flex-direction: column;
        align-items: center;
        height: calc(100vh - 130px);
        font-size: large;

        .first-row {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            flex-wrap: wrap-reverse;
            width: 100%;

            .title {
                font-family: 'Petit Formal Script';
                font-size: 90px;
            }

            .stamp {
                font-family: "Jost*", sans-serif;
                font-weight: 100;
                scale: 70%;
                width: 200px;
                height: 200px;
                display: flex;
                justify-content: center;
                align-items: center;
                transform: translateY(-50px);

                div {
                    display: inline-block;
                    height: 100px;
                    max-width: 100px;
                    position: absolute;
                    transform-origin: bottom center;
                    text-align: center;
                }
            }
        }

        .description {
            font-family: 'Jost*', sans-serif;
            font-size: 30px;
            max-width: 950px;
            margin-top: 30px;
            text-align: center;
            letter-spacing: 15px;
            line-height: 40px;

        }
    }
}