<div class="main-container">
  <div class="header-container">
    <div class="header-left">
      <div class="logo">
        <img src="../assets/img/leve.svg" alt="">
      </div>
      <ol class="menu">
        <li>Home</li>
        <li>Nossos Produtos</li>
        <li>Estudos de caso</li>
        <li>Contato</li>
      </ol>
    </div>
    <div class="header-right">
      <div class="order">
        <img src="../assets/img/instagram.jpg" alt="">
        <img src="../assets/img/facebook.png" alt="">
        <img src="../assets/img/whatsapp.png" alt="">
        <div class="btn-order">FAÇA SEU PEDIDO</div>
      </div>
    </div>
  </div>
  <div class="content-container">
    <div class="first-row">
      <div class="title">Leve Livet</div>
      <div class="stamp">
        <div class="n_1">E</div>
        <div class="n-2">S</div>
        <div class="n-3">T</div>
        <div class="n-4">A</div>
        <div class="n-5">B</div>
        <div class="n-6">E</div>
        <div class="n-7">L</div>
        <div class="n-8">E</div>
        <div class="n-9">C</div>
        <div class="n-10">I</div>
        <div class="n-11">D</div>
        <div class="n-12">A</div>
        <div class="n-12">&nbsp;&nbsp;</div>
        <div class="n-15">D</div>
        <div class="n-16">E</div>
        <div class="n-17">S</div>
        <div class="n-18">D</div>
        <div class="n-20">E</div>
        <div class="n-20">&nbsp;&nbsp;</div>
        <div class="n-21">1</div>
        <div class="n-22">9</div>
        <div class="n-23">8</div>
        <div class="n-23">7</div>
        <div class="n-20">&nbsp;&nbsp;</div>
        <div class="n-23">•</div>
        <div class="n-20">&nbsp;&nbsp;</div>
        <div class="n-23">O</div>
        <div class="n-23">B</div>
        <div class="n-23">R</div>
        <div class="n-23">I</div>
        <div class="n-23">G</div>
        <div class="n-23">A</div>
        <div class="n-23">D</div>
        <div class="n-23">O</div>
        <div class="n-20">&nbsp;&nbsp;</div>
        <div class="n-23">•</div>
      </div>
    </div>
    <div class="description">EMPRESA DE PRODUTOS ORGANICOS E NATURAIS EM ARANDELLE</div>
  </div>
</div>